.footerPart {
  display: none;
}

/*  */

.CollapsePanel .ant-collapse-expand-icon {
  position: absolute;
  right: 0;
}

.CollapsePanel span.ant-collapse-header-text {
  padding-right: 15px;
}

.CollapsePanel span.ant-collapse-header-text { 
  color:#000; 
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
}

.CollapsePanel .ant-collapse-content-box p {
  color: #3C3C43;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 0 !important;
  padding: 25px;
}
.CollapsePanel .ant-collapse-item {
  background: #fff0 !important;
  border-top: solid 2px #eaf1f6!important;
  padding: 5px 0;
}
.CollapsePanel svg.ant-collapse-arrow {
  font-size: 18px !important;
  position: relative;
  left: 18px;
  top: 5px;
}
.CollapsePanel .ant-collapse-item.ant-collapse-item-active {
  background: #F4FAFF !important;
}
.CollapsePanel .ant-collapse-expand-icon::after {
  content: '';
  width: 2px;
  height: 15px;
  background: #000;
  position: absolute;
  right: 2px;
  z-index: 99;
  top: 8px;
}

.CollapsePanel .ant-collapse-item.ant-collapse-item-active .ant-collapse-expand-icon::after {
  transform: rotate(44deg);
}
.CollapsePanel .ant-collapse-item.ant-collapse-item-active  svg.ant-collapse-arrow{
  transform: rotate(51deg);
}
.CollapsePanel .ant-collapse {
  background: #fff0 !important;
}