.carSection {
    border-radius: 18px;
    border: 1px solid #EEF3F6;
    padding: 12px;
}

.reviewTitle {
    position: relative;
}

.carReview {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 6px;
    opacity: 0.5;
    background: #0B1C30;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    left: 10px;
}

.reviewTitleMain {
    position: relative;
}

.reviewTitle h6 {
    color: #1F354F;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.flexBox.ant-flex.css-dev-only-do-not-override-2q8sxy.ant-flex-align-start li {
    padding: 0px 5px;
    color: #4C5D72;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.1px;
    padding-top: 6px;
}

.lastChance {
    border-radius: 8px;
    border: 1px solid #D73131;
    background: rgba(215, 49, 49, 0.10);
    min-height: 20px;
    text-align: center;
    cursor: pointer;
    padding: 4px 8px;
    display: inline-block;
}

.lastChance.live {
    border: 1px solid #06B502;
    background: rgba(6, 181, 2, 0.10);
}

.lastChance.live span.ant-badge-status-text {
    color: #52c41a !important;
}

.timeLeft.colorChange p {
    color: #1F354F;
}

.ant-badge-status-text {
    color: #D73131 !important;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.1px;
    text-align: center;
}

.startPrice p {
    color: #4C5D72;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.startPrice span {
    color: #4C5D72;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.1px;
}

.startPriceLeft {
    padding-right: 24px;
}

.startPrice {
    padding-top: 6%;
}

.timeLeft {
    padding-top: 80px;
    text-align: right;
}

.timeLeft span {
    color: #4C5D72;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.1px;
}

.flexBox {
    display: flex;
    align-items: center;
}

.timeLeft p {
    color: #D73131;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;

}

.floatRight {
    float: right;
}

.carSection {
    margin: 20px 0px;
}

@media(max-width:768px) {
    .floatRight {
        float: unset;
        padding-top: 5%;
    }

    .startPrice {
        padding-top: 5%;
    }

    .timeLeft {
        padding-top: 20px;
    }
}

@media(max-width:767px) {
    .flexBox.ant-flex.css-dev-only-do-not-override-2q8sxy.ant-flex-align-start li:nth-child(1) {
        margin-left: 0px;
    }

    .flexBox {
        display: block;
    }

    .floatRight {
        padding-top: 5%;
    }

    .reviewTitle h6 {
        padding: 15% 0px 4% 0px;
    }

    .showImage .ant-image .ant-image-img {
        width: 100%;
        height: auto !important;
        vertical-align: middle;
    }
}
