/* bookYourVacation css */
.formPart {
    border-radius: 8px;
    background: #fff;
    border: 1px solid #D8D8D8;
    padding: 30px;
    max-width: 1480px;
    margin: 0 auto;
    margin-top: 30px;
}

.bookYourVacation {
    padding-top: 270px;
}

.bookYour {
    font-weight: 700 !important;
}

.flex {
    display: flex;
}

.location {
    color: #9F9F9F;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 11px;
    padding-bottom: 10px;
    display: block;
}

.borderClass {
    border-bottom: 1px solid #9F9F9F;
    padding-bottom: 10px;
}


@media(max-width:1366px) {
    .bookYourVacation {
        padding-top: 0px;
    }
}

@media (max-width: 991px) {
    .bookYourVacation {
        padding: 15px;
        margin-top: 55px;
    }

    .bannerPart {
        padding: 150px 0 0 0;
    }

    .formPart {
        padding: 10px;
        margin-top: 35px;
    }

    .location {
        margin-top: 30px;
    }

    .bookYourVacation {
        padding-top: 0px;
    }
}
