.formPart {
    box-shadow: 0px 15px 86px 0px var(--neutral-haf);
    background: var(--colorWhite);
    padding: 32px;
    border-radius: 16px;
}

.form .formPart {
    width: 420px;
    margin: 30px auto;
}

.labelText {
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 17.64px;
    color: var(--neutralColor);
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
}

.iconRocket {
    margin-left: -8px;
    padding-right: 6px;
}

.EvaluateCar {
    background: var(--primaryYellow);
    padding: 16px 28px;
    border-radius: 8px;
    border: none;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: var(--neutralColor);
}

.arrowBack {
    border-radius: 8px;
    background: #EEF3F6;
    padding: 19px 0px;
}

@media (max-width: 991px) {

    .carBannerImg {
        width: 100% !important;
        position: relative;
        left: 24px;
        margin-bottom: -100px;
    }

    .bannerPart {
        margin-bottom: 60px;
    }
}


@media (max-width: 355px) {
    .linkTextBanner {
        font-size: 13px;
    }

    .textLink {
        padding-right: 3px;
    }
}
