.bannerPartContact {
  background: url(/images/Book_online.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.googleMap iframe {
  border-radius: 25px !important;
  margin-top: -200px;
}

@media (max-width: 991px) {
  .bannerPartContact {
    padding: 150px 0 100px 0;
  }
}

@media (max-width: 767px) {
  .googleMap iframe {
    margin-top: 60px;
  }
}
