.bannerPartAbout {
  background: url(/images/Book_online.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.faqPart {
  background: #f4faff;
}
.faqPart .ant-collapse {
  background: #fff0 !important;
}
.exploreLocations {
  background: rgba(0, 145, 247, 0.03);
}

.imgOverlap {
  margin: 50px 0 -260px 0;
}

/* beautyWorld css */

.beautyWorld {
  background: rgba(0, 74, 170, 0.96);
  padding: 300px 0 100px 0;
}

/*  */
.ourGallery {
  background: #f5f5f5;
}

@media (max-width: 991px) {
  .bannerPart {
    padding: 150px 0 0 0;
  }
  .bannerPartAbout {
    padding: 160px 0 100px 0;
  }
  .beautyWorld {
    padding: 60px 0;
  }
  .beautyWorld h1 {
    font-size: 30px !important;
  }
  .imgOverlap {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 767px) {
}
