.bannerPartAbout {
  background: url(/images/Book_online.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.faqPart {
  background: #f4faff;
}
.faqPart .ant-collapse {
  background: #fff0 !important;
}
.exploreLocations {
  background: rgba(0, 145, 247, 0.03);
}

.imgOverlap {
  margin: 50px 0 -260px 0;
}

/* beautyWorld css */

.beautyWorld {
  background: rgba(0, 74, 170, 0.96);
  padding: 300px 0 100px 0;
}

/* titleIcon css */
.iconBox {
  border-radius: 4px;
  border: 1.5px solid var(--stayable_border, #d8d8d8);
  width: 36px;
  height: 36px;
  text-align: center;
}
.iconBox svg {
  color: #1877f2;
  font-size: 26px;
  padding: 5px 0;
}

/*  */

@media (max-width: 991px) {
  .bannerPart {
    padding: 150px 0 0 0;
  }
}
