.commonSection h6 {
    color: #1F354F;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.3px;
    padding: 20px 0px;
}

.commonSection .ant-divider-horizontal {
    margin: 14px 0;
}