.bell svg {
  color: #0055ba;
  font-size: 28px;
}
.bell {
  position: relative;
}
.bell::after {
  content: "";
  background: #fdca40;
  width: 8px;
  height: 8px;
  position: absolute;
  top: -3px;
  left: 14px;
  border-radius: 100px;
  border: solid #fff 2px;
}

.drop svg {
  color: #0055ba;
  font-size: 28px;
}
.topBar {
  background: var(--Grayscale-White, #fff);
  box-shadow: 0px 4px 12px 0px rgba(21, 21, 21, 0.12);
  padding: 16px 72px;
}
