.mainContainer.RegisterDealership {
  margin-top: 20px;
  background-image: url(/images/card/CTA.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  font-weight: var(--largeBorderRadius);
  overflow: hidden;
  border-radius: 35px;
}

.RegisterDealership h2 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  border-radius: var(--FontWeightMedium);
  line-height: 56px;
  letter-spacing: -1.44px;
  padding-bottom: 20px;
}

.RegisterDealershipTitle {
  padding: 45px 18px;
}

.RegisterDealership h6 {
  color: var(--neutral-white, #fff);
  font-size: 20px;
  font-style: normal;
  border-radius: var(--FontWeightSub);
  line-height: 26px;
  padding-bottom: 20px;
  font-weight: 400;
}

.yellowcar {
  margin-left: 20px;
}

.dealershipImage {
  margin-top: 35px;
}

.RegisterDealershipTitleBtn {
  margin-top: 40px;
}

@media (max-width: 991px) {
  .mainContainer.RegisterDealership {
    margin-top: 60px;
    height: auto;
    padding: 20px 0px 0px 20px;
  }

  .paddingBottomMedium {
    padding-bottom: 30px;
  }

  .yellowcar {
    margin-left: 0;
  }
}
