.bannerPart {
  background: url(/images/hero_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 0 0;
}

.stayConnect {
  background: url(/images/Book_online.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.freedom {
  background: #012a59;
}

.faqPart {
  background: #f4faff;
}

.faqPart .ant-collapse {
  background: #fff0 !important;
}
