.largeButton {
  font-size: 24px !important;
}

.ant-image .ant-image-mask:hover {
  opacity: 0 !important;
}

.darkSlateBlue {
  color: #4378b4 !important;
}

.yellowBackground {
  border-radius: 5px;
  background: #ffe70f;
  color: #012a59;
  padding: 3px 9px;
}

.dark {
  color: #000 !important;
}

.mainContainer {
  max-width: 1480px !important;
  width: 95% !important;
  margin: 0 auto;
}

.textEnd {
  text-align: right;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.textStart {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.weight400 {
  font-weight: 400 !important;
}

.weight500 {
  font-weight: 500 !important;
}

.weight600 {
  font-weight: 600 !important;
}

.weight700 {
  font-weight: 700 !important;
}

.paddingLeftTwenty {
  padding-left: 20px;
}

.weight900 {
  font-weight: 900 !important;
}

.fontThirtyTwo {
  font-size: 32px !important;
}

span b {
  font-weight: 600;
}

.mainGap {
  padding: 60px 0;
}

.largeGapBottom {
  padding-bottom: 120px;
}

.largeGapTop {
  padding-top: 120px;
}

.largeGap {
  padding: 120px 0;
}

.large {
  padding: 130px 0 150px 0px;
}

.marginRemove {
  margin: 0px !important;
  padding: 0px !important;
}

.img100 {
  width: 100%;
  height: unset;
}

.yellowText {
  color: #ffe70f !important;
}

.lineBox {
  border-radius: 10px;
  background: #ffe70f;
  width: 110px;
  height: 20px;
  margin-bottom: 20px;
}

.lineBox.blue {
  background: #1877f2;
}

.lineBox.blue.yellowText {
  color: #ffe70f !important;
}

#leftGap {
  padding-left: 60px !important;
}

.smallGap {
  padding: 20px 0;
}

.w100 {
  width: 100% !important;
}

.marginTopNone {
  margin-top: 0 !important;
}

.marginBottomNone {
  margin-bottom: 0 !important;
}

/* smallMargin */
.marginTopOne {
  margin-top: 10px;
}

/* mediumMargin */
.marginTopTwo {
  margin-top: 20px;
}

/* largeMargin */
.marginTopThree {
  margin-top: 30px;
}

/* extraLargeMargin */
.marginTopFour {
  margin-top: 40px;
}

/*LargerMargin */
.marginTopFive {
  margin-top: 50px;
}

/* smallMarginBottom */
.marginBottomOne {
  margin-bottom: 10px;
}

/* mediumMarginBottom */
.marginBottomTwo {
  margin-bottom: 20px;
}

/* largeMarginBottom */
.marginBottomThree {
  margin-bottom: 30px;
}

/* extraLargeMarginBottom */
.marginBottomFour {
  margin-bottom: 40px;
}

/* extraLargeMarginBottom */
.marginBottomFive {
  margin-bottom: 50px;
}

.marginTopHalf {
  margin-top: 5px;
}

.img100 .ant-image {
  width: 100% !important;
}

.imgRound img {
  border-radius: 12px;
}

.borderRadius10 {
  border-radius: 14px;
}

.borderRadius10 img {
  border-radius: 14px;
}

.borderRadius100 img {
  border-radius: 100px;
}

.starReview svg {
  font-size: 20px;
  padding: 0 2px;
  color: #ffc107;
}

.textGraf12 {
  font-size: 12px !important;
}

.textGraf12 svg {
  font-size: 12px;
  position: relative;
  top: 1px;
}

.starReview1 svg {
  font-size: 16px;
  padding: 0 2px;
  color: #ffc107;
}

.starReview1 svg {
  font-size: 16px;
  padding: 0 2px;
  color: #ffc107;
}

.w100 .ant-image {
  width: 100% !important;
}

.align {
  align-items: center;
}

.flexContainer {
  display: flex !important;
}

#footerPart .flexContainer.align {
  gap: 30px;
  justify-content: end;
}

.heightUnset {
  height: unset !important;
}

.heightUnset .ant-image {
  height: unset !important;
}

.heightUnset .ant-image img {
  height: unset !important;
}

.width80 {
  width: 80% !important;
}

.width80 .ant-image {
  width: 80% !important;
}

.leftCardForm .width80 {
  margin: 0 auto !important;
}

.redTextColor {
  color: #f91d1d !important;
}

.ant-picker {
  width: 100%;
  background: transparent;
  border: none;
  padding: 10px 0px;
}

.ant-select-selector {
  width: 100% !important;
  background: transparent !important;
}

@media (max-width: 1199px) {
  .tabViewCenter {
    text-align: center;
  }

  .lineBox {
    width: 50px !important;
    height: 10px !important;
    margin: 25px auto !important;
  }

  .tabMarginTopOne {
    margin-top: 10px !important;
  }

  .tabMarginTopTwo {
    margin-top: 20px !important;
  }

  .tabMarginTopThree {
    margin-top: 30px !important;
  }

  .tabPaddingBottomOne {
    padding-bottom: 10px !important;
  }

  .tabPaddingBottomTwo {
    padding-bottom: 20px !important;
  }

  .tabPaddingBottomThree {
    padding-bottom: 30px !important;
  }

  .ButtonNoneTabView button.smallButton {
    display: none;
  }

  .lineBox.blue {
    margin: 0 0 10px 0 !important;
  }
}

@media (max-width: 991px) {
  #leftGap {
    padding-left: 0 !important;
  }

  .classAddMobile {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .largeGap {
    padding: 60px 0;
  }

  .undefined {
    overflow: hidden;
  }

  .mainGap {
    padding: 25px 0;
  }
}

@media (max-width: 767px) {
  .mainContainer {
    max-width: 90% !important;
  }

  .mobileViewNone {
    display: none !important;
  }

  .mobileViewCenter {
    text-align: center !important;
  }

  .mobileMarginTopOne {
    margin-top: 10px !important;
  }

  .mobileMarginTopTwo {
    margin-top: 20px !important;
  }

  .mobileMarginTopThree {
    margin-top: 30px !important;
  }

  .mobileCenter {
    text-align: center;
  }

  #footerPart .flexContainer.align {
    justify-content: center;
  }

  .mobileViewLeft {
    text-align: left !important;
  }
}
