.largeButton {
  font-size: 24px !important;
}

.ant-image .ant-image-mask:hover {
  opacity: 0 !important;
}

.mediumButton {
  font-size: 20px !important;
}

.smallButton {
  font-size: 18px !important;
}

.mainContainer {
  max-width: 1480px !important;
  width: 90% !important;
  margin: 0 auto;
}

.textEnd {
  text-align: right;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.textStart {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.weight400 {
  font-weight: 400 !important;
}

.weight900 {
  font-weight: 900 !important;
}

.fontThirtyTwo {
  font-size: 32px !important;
}

span b {
  font-weight: 600;
}

.mainGap {
  padding: 60px 0;
}

.largeGap {
  padding: 120px 0;
}

.img100 {
  width: 100%;
  height: unset;
}

.yellowText {
  color: #ffe70f !important;
}

.lineBox {
  border-radius: 10px;
  background: #ffe70f;
  width: 110px;
  height: 20px;
  margin-bottom: 20px;
}

.lineBox.blue {
  background: #1877f2;
}

#leftGap {
  padding-left: 60px !important;
}

.smallGap {
  padding: 20px 0;
}

.w100 {
  width: 100% !important;
}

.formPart {
  border-radius: 10px;
  border: 1px solid #e7e7f245;
}
.marginTopNone {
  margin-top: 0 !important;
}
.marginBottomNone {
  margin-bottom: 0 !important;
}
.marginTopOne {
  margin-top: 10px;
}

.marginTopTwo {
  margin-top: 20px;
}

.marginTopThree {
  margin-top: 30px;
}

.marginTopFour {
  margin-top: 40px;
}

.marginTopFive {
  margin-top: 50px;
}

.marginBottomOne {
  margin-bottom: 10px;
}

.marginBottomTwo {
  margin-bottom: 20px;
}

.marginBottomThree {
  margin-bottom: 30px;
}

.marginBottomFour {
  margin-bottom: 40px;
}

.marginBottomFive {
  margin-bottom: 50px;
}

.img100 .ant-image {
  width: 100% !important;
}
.imgRound img {
  border-radius: 12px;
}
.starReview svg {
  font-size: 24px;
  padding: 0 2px;
  color: #ffc107;
}
/* .img100 {
  height: unset !important;
}
.img100 .ant-image {
  height: unset !important;
}
.img100 img {
  height: unset !important;
} */

@media (max-width: 1199px) {
  .tabViewCenter {
    text-align: center;
  }

  .lineBox {
    width: 50px !important;
    height: 10px !important;
    margin: 25px auto !important;
  }

  .tabMarginTopOne {
    margin-top: 10px !important;
  }

  .tabMarginTopTwo {
    margin-top: 20px !important;
  }

  .tabMarginTopThree {
    margin-top: 30px !important;
  }

  .tabPaddingBottomOne {
    padding-bottom: 10px !important;
  }

  .tabPaddingBottomTwo {
    padding-bottom: 20px !important;
  }

  .tabPaddingBottomThree {
    padding-bottom: 30px !important;
  }

  .ButtonNoneTabView button.smallButton {
    display: none;
  }
  .lineBox.blue {
    margin: 0 0 10px 0 !important;
  }
}

@media (max-width: 991px) {
  #leftGap {
    padding-left: 0 !important;
  }
  .largeGap {
    padding: 60px 0;
  }
  .undefined {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .mainContainer {
    max-width: 90% !important;
  }

  .mobileViewNone {
    display: none !important;
  }

  .mobileViewCenter {
    text-align: center !important;
  }

  .mobileMarginTopOne {
    margin-top: 10px !important;
  }

  .mobileMarginTopTwo {
    margin-top: 20px !important;
  }

  .mobileMarginTopThree {
    margin-top: 30px !important;
  }

  .MobileViewLeft {
    text-align: left !important;
  }
}
