.largeButton {
    font-size: 24px !important;
}
.mediumButton {
    font-size: 20px !important;
}
.smallButton {
    font-size: 18px !important;
}
.mainContainer {
    max-width: 1480px !important;
    width: 90% !important;
    margin: 0 auto;
  }
  .textEnd {
    text-align: right;
  }
  .textStart {
    text-align: left;
  }
  .textCenter {
    text-align: center;
  }
 .weight400{
    font-weight:400 !important ;
 } 
.weight900{
    font-weight:900  !important;
} 
span b {
    font-weight: 600;
}
.mainGap {
    padding: 60px 0;
}
.img100 {
    width: 100%;
    height: unset;
}
.yellowText {
    color: #FFE70F !important;
}
.lineBox {
    border-radius: 10px;
    background: #FFE70F;
    width: 110px;
    height: 20px;
    margin-bottom: 25px;
} 
#leftGap {
    padding-left: 60px !important;
}
.smallGap{
    padding: 20px 0;
} 
.w100 {
    width: 100% !important;
} 


.formPart {
    border-radius: 10px;
    border: 1px solid #e7e7f245; 
}
@media (max-width: 767px) {
    .mainContainer {
      max-width: 90% !important;
    }
    .mobileViewNone{display: none !important;}
}


