.mainBanner {
    text-align: center;
    background-image: url(/images/sell-car-banner.png);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -78px;
    padding: 80px 0px;
}


.sellCarSection h2 {
    color: #fff;
}

@media (max-width:991px) {
    .mainBanner {
        height: auto;
        padding: 20% 0px;
    }

    .form .formPart {
        width: 100%;
    }

    .formPart {
        padding: 0px;
    }

    .bannerForm {
        padding: 32px;
    }
}