.inputWithIcon input {
    width: 100%;
    display: block;
    font-size: 16px !important;
    line-height: 17.64px;
    font-weight: 400;
    text-align: left;
    border-radius: 12px;
    border: 1px solid #D4D7E3 !important;
    background: #F7FBFF;
}
