.leftBack {
  background: #0b1c30;
}
.headerDashboard {
  padding: 20px;
  background: #fff;
}
.progress {
  border-radius: 0px 10px 10px 0px;
  background: #0f43e6;
  height: 5px;
  width: 60%;
}
.stepProgress {
  background: var(--neutral-gray, #eef3f6);
  height: 5px;
}
.dashBody {
  padding: 20px;
}
.spacingTop {
  padding: 4% 0;
}
