.footerPart {
  background: var(--Main_Blue_Color, #012a59);
}

.followUs {
  padding: 40px 0;
  border-bottom: solid 1px #103b6b;
}

.ftPart {
  border-bottom: solid 1px #103b6b;
}

ul.footerSocialMediaLiks {
  margin: 10px 0 0 0;
  padding: 0;
}

ul.footerSocialMediaLiks li {
  list-style: none;
  display: inline;
  margin: 0 8px 0 0;
}

ul.footerSocialMediaLiks li a {
  color: #fff;
  font-size: 30px;
}

.footerLinks {
  padding: 0;
  margin: 25px 0 0 0;
}

.footerLinks a {
  color: #d9d9d9;
  font-size: 17px;
  font-weight: 400;
  line-height: 36px;
}

.footerLinks svg {
  margin-right: 9px;
  position: relative;
  top: 2px;
  font-size: 16px;
  color: #9c9a98;
}

.borderFooter {
  border-right: solid 1px #103b6b;
}

.flexContainer {
  display: flex;
}

@media (max-width: 991px) {
  .columGap {
    padding: 30px 0 30px 0;
  }
}

@media (max-width: 767px) {
  .borderFooter {
    border-right: solid 0px #103b6b;
  }
}
