.bannerPart{
    background: url(/images/hero_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 0 0;
}
.stayConnect {
    background: url(/images/Book_online.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.freedom {
    background: #012A59;
}
.faqPart{
    background: #F4FAFF;
}
.faqPart .ant-collapse {
    background: #fff0 !important;
}

/* bookYourVacation css */
.bookYourVacation {
    border-radius: 20px 20px 0px 0px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(35px);
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    margin-top: 140px;
}
.bookYour {
    font-weight: 700 !important;
}





