.modalSubText {
    color: #4C5D72;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 8px 0;
}

.modalCheckbox label span {
    color: #4C5D72;
}

.modalCheckbox span.ant-checkbox-inner {
    width: 24px !important;
    height: 25px !important;
    border-radius: 4px;
    background: var(--neutral-gray, #EEF3F6);
    border: none;
}

.marginTop {
    margin-top: 8px;
}

.modalInput {
    margin: 8px 0;
}

.modalInput svg {
    font-size: 20px;
    margin: 0 3px 0 0;
}
