.bannerblog {
  background: url(/images/single.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.faqPart {
  background: #f4faff;
}

.article {
  border-radius: 7px;
  border: 1px solid #DDD;
  background: #F5F5F5;
  padding: 35px;
  margin: 50px 0px;
}

.article ul li {
  list-style: decimal;
  color: #303030;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration-line: underline;
  padding-bottom: 10px;
}

.article ul {
  padding-left: 25px !important;
  padding-top: 10px !important;
}

.paddingFiftyTop {
  padding-top: 50px;
}

.paddingFiftyBottom {
  padding-bottom: 50px;
}

.paddingFiftyTopSmall {
  padding-top: 30px;
}

.article.italic {
  border-radius: 12px;
  border-left: 4px solid #E8E8EA;
  background: #F6F6F7;
  margin-bottom: 15px;
  margin-top: 15px;
}

.article h5 {
  font-style: italic !important;
}

.blogTitle {
  border-radius: 5px;
}

.latestBlog {
  padding: 0px 30px;
}

.subscriberBtn {
  width: 100%;
  border-radius: 4px !important;
  margin-top: 10px;
}

.theLatestText {
  position: relative;
}

.overLayText {
  position: absolute;
  top: 40px;
  left: 20px;
  right: 20px;
}

.overLayTextSecond {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 40px;
}

.line {
  width: 20px;
  background: #fff;
  height: 2px;
  display: inline-block;
  margin-left: 40px;
}

.line1 {
  width: 20px;
  background: #464646CF;
  height: 2px;
  display: inline-block;
  margin-left: 40px;
}

.onlineUserImage {
  position: relative;
}

.onlineIcon {
  position: absolute;
  border-radius: 24px;
  border: 1.5px solid #FFF;
  background: linear-gradient(180deg, #B1EACF 0%, #03E27A 100%);
  box-shadow: 0px 4px 28px 0px rgba(10, 158, 89, 0.48);
  width: 24px;
  height: 24px;
  top: 0;
}

@media (max-width: 991px) {
  .bannerPart {
    padding: 150px 0 0 0;
  }

  .bannerblogSection {
    padding: 50px 0;
    margin-bottom: 40px;
  }

  .latestBlog {
    padding: 0px;
  }

  .article {
    padding: 12px;
    margin: 20px 0px;
  }

  .large {
    padding: 40px 0 50px 0px;
  }

  .mobileView {
    margin-top: 15px;
  }

  .paddingFiftyTop {
    padding-top: 20px;
  }

  .paddingFiftyBottom {
    padding-bottom: 25px;
  }

}
