#articlesAboutCars .articlesAboutCarsMain {
  background-color: var(--neutralGray);
  border-radius: 0px 0px 12px 12px;
  text-align: left;
  padding: 24px 32px;
}

#articlesAboutCars img {
  border-radius: 12px 12px 0px 0px;
}

.blogRow {
  margin-top: 20px;
}

.articleFlex .titleSub {
  border-radius: 5px;
  background: rgba(15, 67, 230, 0.08);
  color: var(--primaryColor);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--FontWeightSmall);
  line-height: 20px;
  letter-spacing: -0.1px;
  padding: 4px 12px;
  margin-right: 10px;
}


.articleFlex .date {
  color: var(--neutralColor);
  font-size: 16px;
  font-style: normal;
  border-radius: var(--FontWeightSub);
  line-height: 24px;
}

.ant-card {
  margin-bottom: 15px !important;
}

.articlesAboutCarsMain a {
  color: var(--primaryColor);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--FontWeightSmall);
  line-height: 24px;
}
